<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <title>Play Ball!</title>
    </head>
    <body>
        <div style="margin-left:auto;margin-right:auto">
            <table>
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Logo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in logos %}
                    <tr>
                        <td>{{ r.0 }}</td>
                        <td>{{ r.1 }}</td>
                        <td><img src="{{ r.2 }}"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>